table {
    width: 100%;
  }
  .mat-row-link{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;             
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}
