<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
  <div class="register-container">
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input type="text" [formControl]="usernameFormControl" name="username" [errorStateMatcher]="matcher" [(ngModel)]="form.username" required minlength="3"
            maxlength="20" autocomplete="off" matInput />
            <mat-error *ngIf="usernameFormControl.hasError('required')">
              Username is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="usernameFormControl.hasError('minlength')">
              Username must be longer than 3 characters
            </mat-error>
          </mat-form-field>
          
        </div>
        <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" [(ngModel)]="form.email"
                   required  placeholder="Ex. pat@example.com" autocomplete="off">
              <mat-hint></mat-hint>
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher" name="password" [(ngModel)]="form.password" required minlength="6"
            matInput />
            <mat-error *ngIf="passwordFormControl.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="passwordFormControl.hasError('minlength')">
             Password must be longer than 6 characters
            </mat-error>
          </mat-form-field>
        
        </div>
        <div class="form-group">
          <button class="btn" mat-raised-button>Add company</button>
        </div>
      </div>
</form>

